@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --body: #242424,#202020,#1a1a1a,#1a1a1a,#1d1d1d, #272727;
    --scrollbar: #000000;
    --text: #ffffff;
    --menu: #272727;
    --search: #333333;
    --seacrh-icon: #fff;
    --arrows: #fff;
    --switch: #ffffff;
    --kryg: #fff;
    --arrows: #ffffff;
    --content: #242424;
    --shadow-search: rgba(0,0,0,0.2);
    --slider: #5e5e5e;
    --text-h1: #bd18ff;
    --circle-after: rgba(172, 172, 172, 0.56);
    --search-menu: #414141;
    --shadow-menu: rgba(0,0,0,0.4);
    --switch-color: #5f0085;
    --restart: #2e2d2e;
    --restart-hover: #1d1d1d;
    --restart-border: #141414;
    --nav-links: rgb(139, 0, 194);
    --nav-links-shadow: rgb(91, 0, 128);
    --wrong-search: #313131;
    --shadow-dialog: rgba(0,0,0);
    --footer: #222222;
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px, 3vw, 26px);
    font-weight: 400;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar{
    background-color: var(--body);
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, #5f0085, #8b00c2);
    width: 5px;
    height: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--scrollbar);
}
html{
    min-height: 100%;
}
/* light theme */
body.light-theme{
    --body: #b4b4b4,#b8b8b8,#c4c4c4,#bdbdbd,#e7e7e7, #a8a8a8;
    --scrollbar: #ffffff;
    --text: #1d1d1d;
    --menu: #c5c5c5;
    --search: #cccccc;
    --seacrh-icon: #131313;
    --arrows: #fff;
    --switch: #808080;
    --switch-color: #7600a5;
    --kryg: #808080;    
    --arrows: #ffffff;
    --content: rgb(204, 204, 204);
    --slider: #bbbbbb;
    --text-h1: #6d00d3;
    --circle-after: rgba(51, 51, 51, 0.56);
    --search-menu: #dbdbdb;
    --shadow-menu: rgba(0,0,0,0.5);
    --restart: #c0c0c0;
    --restart-hover: #d3d3d3;
    --restart-border: #a3a3a3;
    --nav-links: rgb(181, 0, 253);
    --nav-links-shadow: rgb(147, 0, 206);
    --wrong-search: #c2c2c2;
    --shadow-dialog: rgba(0,0,0, 0.76);
    --footer: #dbdbdb;
}

body{
    background: linear-gradient(300deg, var(--body));
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
body.no-scroll{
    overflow-y: hidden;
}
p , a, article{
    color: var(--text);
}
h1, h2{
    font-weight: 300;
}
.letter{
    background: radial-gradient(circle, #b20ffb, transparent 100%);
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 105%;
    cursor: context-menu;
    z-index: 1;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}
#letter-a{
    left: 9%;
    top: 9%;
}
#letter-b{
    left: 88%;
    top: 14%;
}
#letter-v{
    top: 64%;
    left: 90%;
}
#letter-g{
    top: 80%;
    left: -3%;
}
#letter-eo{
    top: 145%;
    left: -1%;
}
#letter-zh{
    top: 132%;
    left: 90%;
}
.letter-menu{
    width: 1.6em;
    height: 1.6em;
    font-size: clamp(12px, 2.5vw, 18px);
}
.letter.drab-letter{
    cursor: grab;
    user-select: none;
    transition: 0s !important;
}
#letter-d{
    top: 20%;
    left: 22%;
    z-index: 0;
}
#letter-e{
    top: 83%;
    left: 85%;
    z-index: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/* fa-bars style */
.menu-toggle{
    background-color: transparent;
}
.fa-bars{
    color: gray;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
    display: flex;
    align-items: center;
}
/* nav-links style */
.nav-links{
    width: 60%;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-links a{
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.nav-links a::after{
    content: '';
    border-radius: 50px;
    width: 130%;
    height: 140%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.5s;
}
#link-2::after{
    width: 140%;
}
#link-3::after{
    width: 120%;
}
/* menu style */
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: absolute;  
    background-color: var(--menu);
    border-radius: 5px;
    padding: 12px 12px;
    z-index: 1;
    box-shadow: 0px 0px 10px 2px var(--shadow-menu);
    width: 42%;
    transition: 0.6s;
    transform: translateX(calc(-100% - 22px));
}
.menu.menu-active{
    transform: translateX(0%);
}
.trick{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    width: 100%;
}
.trick p{
    width: 60%;
}

/* switch style */
.switch{
    display: flex;
    align-items: center; 
    position: relative;
    border-radius: 50px;
    border: 0.12em solid var(--switch);
    width: 3rem;
    height: 1.7rem;
}
.switch::before{
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.switch-normal::before{
    background-color: #8000a0;
}
.switch-theme::before{
    background-image: url('https://img.freepik.com/free-vector/meadow-with-pond-conifers-and-hills-at-night_107791-10085.jpg?w=826&t=st=1706645514~exp=1706646114~hmac=9f4bfcd5294ca6d8f39f1be2e81e1863f09f9ffde649c391ea3e810ff4658e8a');
    background-size: cover;
    background-position: center;
}
.switch-active::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.switch-theme{
    background:
    url('https://img.freepik.com/free-vector/nature-landscape-with-forest-mountains-sun_107791-9359.jpg?size=626&ext=jpg&ga=GA1.1.1119620659.1692820931&semt=ais');
    background-size: cover;
    background-position: center;
}

/* circles style */
.circle{
    background-color: var(--kryg);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: relative;
    left: 8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: 0.3s;
}
.circle::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--circle-after);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}
.circle-active{
    left: calc(100% - 1.2rem - 8%);
}
.circle-active::after{
    width: 200%;
    height: 200%;
}
#search-menu{
    display: none;
}
#restart-menu{
    position: static;
    margin: 0;
    transform: translateX(0);
    box-shadow: 0px 0px;
}
.restart-div{
    min-height: 0;
    overflow: hidden;
}
.restart-grid{
    display: grid;
    grid-template-rows: 0fr;
}
.restart-active{
    grid-template-rows: 1fr;
}
/* search style */
.search{
    display: flex;
    align-items: center;
    background-color: var(--search);
    border-radius: 0.8rem;
    box-shadow:0px 0px 10px 2px var(--shadow-search);
}

.search-input{
    width: 100%;
    max-width: 8em;
    font-size: 1.2em;
    background-color: transparent;
    margin-left: 10px;
    color: var(--text);
}
.search-input::placeholder{
    color: var(--text);
}
.search-input:focus{
    outline: 0;
}
.current-scroll-text{
    box-shadow: 0px 0px 5px 1px rgba(174, 0, 255, 0.76) !important;
}
.fa-magnifying-glass{
    color: var(--seacrh-icon);
    transition: color 0.2s ease-out;
    padding: .7em;
    font-size: 1em;
    cursor: pointer;
}
/* h1 style */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
#title-main{
    font-size: 1.3rem;
    background: linear-gradient(to right, var(--text-h1) 50%, var(--text) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    animation: new-color 10s ease 2s infinite;
}
@keyframes new-color {
    50%{
        background-position:0 100%;
    }
    100%{
        background-position:100%;
    }
}
.title img{
    width: 2.2em;
    margin-left: 5px;
    cursor: pointer;
    /* Добавить премещение */
}
/* slider style */
.mega-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider-content{
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid var(--slider);
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.76);
    position: relative;
}
.slides{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x;
}
.slides::-webkit-scrollbar{
    display: none;
}
.slides.dragging{
    scroll-behavior: auto;
    scroll-snap-type: none;
    cursor: pointer;
    user-select: none;
}
.slides.no-smooth{
    scroll-behavior: auto;
}
.slider-content input{
    display: none;
}
.slides div{
    scroll-snap-align: start;
    height: 20rem;
    width: 100%;
}
.slides img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.labe-content{
    display: flex;
    position: absolute;
    bottom: 30px;
    gap: 0.7em;
}
.labe-content label{
    background-color: #2e2d2e;
    width: 1.5em;
    height: 0.85em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
#s1:checked ~ .labe-content label:nth-child(1){
    transform: scale(1.11);
    background-color: #9600aa;
}
#s2:checked ~ .labe-content label:nth-child(2){
    transform: scale(1.11);
    background-color: #9600aa;
}
#s3:checked ~ .labe-content label:nth-child(3){
    transform: scale(1.1);
    background-color: #9600aa;
}
#s4:checked ~ .labe-content label:nth-child(4){
    transform: scale(1.1);
    background-color: #9600aa;
}
.arrow{
    width: 2.6rem;
    height: 2.6rem;
    color: var(--arrows);
    border-radius: 50%;
    position: absolute;
    background-color: #74199e;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
#left-arrow{
    left: 12px;
}
#right-arrow{
    right: 12px;
}
.arrows{
    transform: scale(1.75);
}
/* main */
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 5vh;
}
#title1{
    color: var(--text);
    font-size: 1.4rem;
    margin-top: 0.5em;
    text-align: center;
}
.text-div{
    width: 80%;
    background-color: var(--content);
    border-radius: 15px;
    padding: 10px;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.3);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--content);
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.3);
}
.celebration-text{
    width: 60%;
    text-indent: 0.6rem;
    font-size: 1rem;
}
.text-history{
    transition: 0.3s;
    transform: translateX(-100%);
}
.text-history.show-history{
    animation: show-history 1s linear both;
}
@keyframes show-history {
    20%,50%,80%,to{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-30px);
    }
    70%{
        transform: translateX(-15px);
    }
    90%{
        transform: translateX(-3px);
    }
}
.img-content{
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
    height: 9rem;
}
.img-content img{
    transition: all 0.6s ease;
    width: 100%;
    height: 100%;
    display: block;
}
.img-content img:hover{
    transform: scale(1.21);
}

.show-history{
    opacity: 1;
}
.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 2.2em;
    border-radius: 2em;
    color: var(--text);
    background-color: var(--restart);
    border: 0.12em solid var(--restart-border);
    cursor: pointer;
    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    transition: 0.2s;
}
.restart p{
    font-size: 0.9em;
}
.hide-button{
    opacity: 0;
}
.mark{
    background-color: #7700ff;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    transition: 0.5s;
}
.no-mark{
    background-color: transparent;
    padding: 0;
}
.wrong-search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 8px 4px var(--shadow-dialog);
    background-color: var(--wrong-search);
    text-align: center;
}
.wrong-search.wrong-search-active{
    display: flex;
}
.show-hide{
    opacity: 0;
    z-index: 100;
}
.show{
    opacity: 1;
}

.return-dialog{
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px 2px var(--shadow-dialog);
    background-color: #7f06c5;
    cursor: pointer;
    transition: 0.2s;
    color: #ffffff;
}
.pre-loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    transition: 1s;
    visibility: visible;
}
.pre-loader p{
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(to right, #8b00c2 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}
.load{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    animation: load-rotate 2s infinite;
}
.load::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(204, 0, 255, 0.7);
}
.loaded{
    opacity: 0;
    visibility: hidden;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--footer);
    color: var(--text);
    text-decoration: none;
    border-radius: 0.4rem;
    padding: 0.2rem;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
}
footer i{
    font-size: 1.2rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px #000000;
}
.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes load-rotate {
    0%{
        transform: rotate(0deg);
    }
    30%{
        box-shadow: 1px 5px 2px rgba(195, 0, 255);
    }
    60%{
        box-shadow: 2px 3px rgb(195, 0, 255);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Media */
@media screen and (min-width:790px){
    .slider-content{
        width: 70%;
    }
    .content{
        width: 70%;
    }
    .menu{
        width: 25%;
    }
}
@media screen and (max-width:750px) {
    .search{
        display: none;
    }
    header{
        justify-content: flex-start;
    }
    .nav-links{
        width: 100%;
        justify-content: space-around;
    }
    #search-menu{
        display: flex;
        background-color: var(--search-menu);
        width: 95%;
    }
}

@media screen and (max-width:400px) {
    header{
        margin-top: 1.2em;
    }
    .text-div{
        width: 90%;
    }
}
@media (hover:hover) {
    .nav-links a:hover::after{
        background-color: var(--nav-links);
        box-shadow: 0px 4px 0px -1px var(--nav-links-shadow);
    }
    .fa-bars:hover{
       color: #8d00b8;
    }
    .fa-bars:hover::after{
        opacity: 1;
        transform: translateX(10%);
    }
    .fa-magnifying-glass:hover{
        color: #9100d4;
    }
    .labe-content label:hover{
        transform: scale(1.11);
        box-shadow: 0px 0px 3px 2px #000000;
    }
    .arrow:hover{
        box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.8);
        background-color: #5f0085;
    }
    .restart:hover{
        background-color: var(--restart-hover);
    }
    .return-dialog:hover{
        background-color: #6f00af;
    }
    footer i:hover{
        box-shadow: 0px 0px 6px 2px #ffffff;
    }
}
@media (hover:none) {
    .nav-links a:active::after{
        background-color: var(--nav-links);
        box-shadow: 0px 5px 0px -1px var(--nav-links-shadow);
    }
    .fa-bars:active{
        color: #8d00b8;
    }
    .fa-magnifying-glass:active{
        color: #9100d4;
    }
    .arrow:active{
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
        background-color: #5f0085;
    }

    .restart:active{
        background-color: var(--restart-hover);
    }
    .return-dialog:active{
        background-color: #6f00af;
    }
    footer i:active{
        box-shadow: 0px 0px 6px 2px #ffffff;
    }
}
